server:
  port: 8082


spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/microservice
    username: postgres
    password: Riddhesh@1997
  jpa:
     hibernate:
       ddl-auto: update
     show-sql: true

  config:
    import: optional:configserver:http://localhost:8085

