server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/microservices01
    username: root
    password: Riddhesh@1997
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  config:
    import: optional:configserver:http://localhost:8085

    ## resilience4J config
management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health


  endpoint:
    health:
      show-details: always



resilience4j:
  circuitbreaker:
    instance:
      ratingHotelBreaker:
        registerHealthIndicator: true
        eventConsumerBufferSize: 10
        failureRateThreshold: 50
        minimunNumberOfCalls: 5
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 6s
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowSize: 10
        slidingWindowType: Count_BASED



  retry:
    instances:
      ratingHotelService:
        max-attempts: 3
        wait-duration: 5s




